# Rails
# Associations
snippet hm
	has_many :
snippet bt
	belongs_to :
snippet habtm
	has_and_belongs_to_many :
# Validations
snippet vpo
	validates_presence_of :
snippet vuo
	validates_uniqueness_of :
snippet va
	validate :
